@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceff1;
  color: #616161;
}

* {
  box-sizing: border-box;
}